---
elasticsearch:
  client:
    hosts: https://{{ ansible_default_ipv4.address }}:9200
    ca_certs: /.curator/ca/ca.crt
    verify_certs: True
    request_timeout: 30
  other_settings:
    master_only: True
    username: elastic
    password: {{ elastic_password }}

logging:
  loglevel: INFO
  logformat: default
  blacklist: ['elastic_transport', 'urllib3']
