volumes:
  data:

services:
  elastic:
    image: elasticsearch:{{ stack_version }}
    volumes:
      - ./elastic/certs:/usr/share/elasticsearch/config/certs
      - ./elastic/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
      - "443:9443"
    environment:
      - ELASTIC_PASSWORD={{ elastic_password }}
    mem_limit: {{ mem_limit }}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s --cacert config/certs/ca/ca.crt https://localhost:9200 | grep -q 'missing authentication credentials'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120

  curator:
    image: untergeek/curator:8.0.15
    container_name: curator
    user: root
    volumes:
      - ./curator/config.yml:/.curator/config.yml
      - ./curator/actions.yml:/.curator/actions.yml
      - ./elastic/certs/ca:/.curator/ca
    restart: unless-stopped
    command: --config /.curator/config.yml /.curator/actions.yml
