node.name: {{ inventory_hostname }}
network.host: "0.0.0.0"
network.publish_host: {{ ansible_default_ipv4.address }}
cluster.name: {{ cluster_name }}
cluster.initial_master_nodes: {{ groups['elastic'] }}
discovery.seed_hosts: {{ groups['elastic'] | difference([inventory_hostname]) }}
bootstrap.memory_lock: true
xpack.security.enabled: true
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: certs/{{ inventory_hostname }}/{{ inventory_hostname }}.key
xpack.security.http.ssl.certificate: certs/{{ inventory_hostname }}/{{ inventory_hostname }}.crt
xpack.security.http.ssl.certificate_authorities: certs/ca/ca.crt
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.key: certs/{{ inventory_hostname }}/{{ inventory_hostname }}.key
xpack.security.transport.ssl.certificate: certs/{{ inventory_hostname }}/{{ inventory_hostname }}.crt
xpack.security.transport.ssl.certificate_authorities: certs/ca/ca.crt
xpack.security.transport.ssl.verification_mode: certificate
xpack.license.self_generated.type: basic
# ES_JAVA_OPTS: -Xms750m -Xmx750m
