instances:
  - name: elastic1
    dns:
      - elastic1
      - localhost
    ip:
      - {{ hostvars['elastic1'].ansible_default_ipv4.address }}
      - 127.0.0.1
  - name: elastic2
    dns:
      - elastic2
      - localhost
    ip:
      - {{ hostvars['elastic2'].ansible_default_ipv4.address }}
      - 127.0.0.1
  - name: elastic3
    dns:
      - elastic3
      - localhost
    ip:
      - {{ hostvars['elastic3'].ansible_default_ipv4.address }}
      - 127.0.0.1
  - name: kibana
    dns:
      - kibana
      - localhost
    ip:
      - {{ hostvars['kibana'].ansible_default_ipv4.address }}
      - 127.0.0.1
