{
    "service": {
        "id": "id{{ '{{ printf "%s" (env "HOSTNAME") }}' }}",
        "name": "app",
        "tags": ["app", "v1"],
        "port": 8080,
        "check": {
            "http": "http://:8080/health",
            "interval": "5s"
        }
    }
}