services:
  app:
    image: "{{ app_docker_image }}:$TAG"
    container_name: app
    restart: always
    ports:
      - '8080:8080'

  consul-template:
    image: hashicorp/consul-template:latest
    container_name: "consul-template"
    volumes:
     - ./config:/consul/config
     - ./templates:/data
    command: consul-template -config /data/consul-template.hcl

  consul-agent:
    image: hashicorp/consul:latest
    network_mode: host
    volumes:
      - ./config:/consul/config
      - ./data:/consul/data
    command: "agent -advertise $IP"
    depends_on:
      - consul-template
