[Unit]
Description=Skillbox Web Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ work_dir }}
Type=simple
TimeoutStartSec=0
Restart=always
Environment=ENV={% if env == 'prod' %}main{% elif env == 'dev' %}develop{% endif %}

ExecStart=/usr/bin/sh -c 'IP=$(getip.sh) TAG=$(get_tag.sh) docker compose up'
ExecStop=docker compose down
ExecReload=docker compose restart
User={{ app_username }}
TimeoutSec=30

[Install]
WantedBy=multi-user.target
