volumes:
  registry:

services:
  filebeat:
    image: "elastic/filebeat:{{ stack_version }}"
    container_name: filebat
    user: root
    restart: always
    volumes:
      - "./filebeat.yml:/usr/share/filebeat/filebeat.yml"
      - "/var/lib/docker/containers:/var/lib/docker/containers:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "registry:/usr/share/filebeat/data:rw"
