[Unit]
Description=Filebeat Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ work_dir }}/filebeat
Type=simple
TimeoutStartSec=0
Restart=always

ExecStart=docker compose up
ExecStop=docker compose down
ExecReload=docker compose restart
TimeoutSec=30

[Install]
WantedBy=multi-user.target
