{{ gitlab_global_section | to_toml }}
[session_server]
{{ gitlab_session_server_section | to_toml }}
[[runners]]
{{ gitlab_runners_section | to_toml }}
[runners.cache]
{{ gitlab_runners_cache_section | to_toml }}
[runners.cache.s3]
{{ gitlab_runners_cache_s3_section | to_toml }}
[runners.docker]
{{ gitlab_runners_docker_section | to_toml }}
[[runners.docker.services]]
{{ gitlab_runners_docker_services_section | to_toml }}
