plugin: yacloud_compute
yacloud_token: {{ oauth }}
yacloud_clouds:
  - cloud-svkoval67
yacloud_folders:
  - default
yacloud_group_label: group
ansible_user: app
ansible_ssh_private_key_file: {{ work_dir }}/.ssh/app.key
