---
- name: Check all systems are ready
  hosts: all
  gather_facts: false
  tasks:
    - name: Wait for system to become reachable
      ansible.builtin.wait_for_connection:

    - name: Log into private registry and force re-authorization
      ansible.builtin.docker_login:
        registry: registry.gitlab.com
        username: svkoval67
        password: "{{ api_token }}"
        reauthorize: yes

    - name: Pull an image
      community.docker.docker_image:
        name: "{{ '{{ '+'APP_IMAGE'+' }}' }}"
        source: pull

    - name: retag image
      ansible.builtin.shell: docker tag "{{ '{{ '+'APP_IMAGE'+' }}' }}" "skillbox/app:current"

    - name: restart service
      ansible.builtin.command: sudo systemctl restart "{{ servicename }}"
