global:
  scrape_interval:     90s # By default, scrape targets every 15 seconds.
{% if extra_prometheus_config is defined %}
{{ extra_prometheus_config }}
{% endif %}
scrape_configs:
  # - job_name: 'prometheus'
  #   scrape_interval: 5s
  #   static_configs:
  #     - targets: ['localhost:9090']
{% for server in hostvars %}
  - job_name: '{{  server  }}'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ hostvars[server].ansible_default_ipv4.address }}:9100']
    metrics_path: /metrics
{% endfor %}
  - job_name: App
    consul_sd_configs:
    - server: "consul.tripleap.ru:8500"
      tags: ["app"]
      services: ["app", "consul"]
  - job_name: yc-monitoring-export
    metrics_path: /monitoring/v2/prometheusMetrics
    scheme: https
    params:
      folderId:
      - '{{ YandexCloudFolderId }}'
      service:
      - application-load-balancer
    bearer_token: '{{ monitoring_api_key }}'
    static_configs:
    - targets: ['monitoring.api.cloud.yandex.net']
      labels:
        service: application-load-balancer
