volumes:
  kibanadata:
  metricbeatdata:

services:
  kibana:
    image: kibana:{{ stack_version }}
    volumes:
      - ./kibana/certs:/usr/share/kibana/config/certs
      - kibanadata:/usr/share/kibana/data
    ports:
      - 5601:5601
    environment:
      - SERVERNAME=kibana
      - ELASTICSEARCH_HOSTS=["https://elastic1:9200","https://elastic2:9200","https://elastic3:9200"]
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD={{ kibana_password }}
      - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=config/certs/ca/ca.crt
      - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY="f46a06cf947e1d23435cf0129e6c708a"
      - XPACK_REPORTING_ENCRYPTIONKEY="92f0cbe2f9e93dbc6dba2dcddbfa8f1a"
      - XPACK_SECURITY_ENCRYPTIONKEY="6cbfc9017a5376be5fd40f6831a21cba"
    mem_limit: {{ mem_limit }}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -I http://localhost:5601 | grep -q 'HTTP/1.1 302 Found'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120

  metricbeat:
    depends_on:
      kibana:
        condition: service_healthy
    image: elastic/metricbeat:{{ stack_version }}
    user: root
    volumes:
      - ./kibana/certs:/usr/share/metricbeat/certs
      - metricbeatdata:/usr/share/metricbeat/data
      - "./metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/sys/fs/cgroup:/hostfs/sys/fs/cgroup:ro"
      - "/proc:/hostfs/proc:ro"
      - "/:/hostfs:ro"
    environment:
      - ELASTIC_USER=elastic
      - ELASTIC_PASSWORD={{ elastic_password }}
      - ELASTIC_HOSTS=["https://elastic1:9200","https://elastic2:9200","https://elastic3:9200"]
      - KIBANA_HOSTS=http://kibana:5601
      - LOGSTASH_HOSTS=http://logstash:9600
