networks:
  consul:
    driver: bridge

services:

  consul-server:
    image: hashicorp/consul:latest
    container_name: "{{ inventory_hostname }}"
    volumes:
      - ./config/server.json:/consul/config/server.json:ro
      - ./data:/consul/data
    networks:
      - consul
    ports:
      - "8300:8300"
      - "8301:8301"
      - "8301:8301/udp"
      - "8500:8500"
      - "8600:8600"
      - "8600:8600/udp"
    command: "agent -advertise {{ ansible_default_ipv4.address }}"
