{
    "datacenter": "dc",
    "server": true,
    "node_name": "{{ inventory_hostname }}",
    "ui_config": {
        "enabled" : true
    },
    "data_dir": "/consul/data",
    "addresses": {
        "http" : "0.0.0.0"
    },
    "retry_join": {{ groups['consul'] | difference([inventory_hostname]) }},
    "bootstrap_expect": {{ groups['consul'] | length - 1 }},
    "encrypt": "{{ consul_encrypt }}"
}
