volumes:
  logstashdata:

services:
  logstash:
    image: logstash:{{ stack_version }}
    user: root
    environment:
      - xpack.monitoring.enabled=false
      - ELASTIC_USER=elastic
      - ELASTIC_PASSWORD={{ elastic_password }}
      - ELASTIC_HOSTS='["https://elastic1:9200","https://elastic2:9200","https://elastic3:9200"]'
    volumes:
      - ./logstash/pipelines.yml:/usr/share/logstash/config/pipelines.yml
      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro
    #   - ./logstash_ingest_data/:/usr/share/logstash/ingest_data
      - logstashdata:/usr/share/logstash/data
      - ./logstash/certs:/usr/share/logstash/certs
    ports:
      - "5044:5044"
